.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.input {
  max-width: 600px;
  border: none;
  padding: 10px 10px 10px 36px;
  width: 100%;
  height: 40px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.36);
  border-radius: 10px;
}
